[Desktop Entry]
Name=School TimeTable
Exec=qmlscene %U School/Main.qml
Icon=School/schoolhouse.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=#bf3421
X-Ubuntu-Splash-Image=School/Splash.png
Name[it]=Orario Scolastico
